<div class="search">
    <h1>Cute Dog Pics</h1>
    <h4>Search for a dog by breed</h4>
    <form action="/search" method="get">
        <input type="search" name="search" id="search-input" placeholder="Search a dog breed">
        <button>Search</button>
    </form>
</div>